[es database]
init file = main_test_data/es_database.init.yml
erase if exists = yes

[transformers micro service]
enabled = no
host = 0.0.0.0
port = 8181
model name = twmkn9/distilbert-base-uncased-squad2
use gpu = yes

[question answer services]
# include the service as a key with no value
regex = 
micro adapter = 

[regex]
type = regex_qa
file = main_test_data/regex_qa.yml

[micro adapter]
type = micro_adapter
host = localhost
port = 8181
path = /question

[qa server]
host = 0.0.0.0
port = 8180
qa log file = qa_log.jsonl

[miscellaneous]
# cause certain error to print a traceback upon creation
PRINT_TB =
log level = INFO
