[es database]
init_file = main_test_data/es_database.init.yml
erase_if_exists = yes

[transformers micro service]
enabled = no
host = 0.0.0.0
port = 8181
model_name = twmkn9/distilbert-base-uncased-squad2
use_gpu = no
device = -1

[question answer services]
# include the service as a key with no value
regex = 
micro adapter = 

[regex]
type = regex_qa
file = main_test_data/regex_qa.yml

[micro adapter]
type = micro_adapter
host = localhost
port = 8181
path = /question

[qa server]
host = 0.0.0.0
port = 8180
qa_log_file = qa_log.jsonl

[miscellaneous]
# cause certain error to print a traceback upon creation
PRINT_TB =
log_level = INFO
